Triage Leads para inmobiliaria (1).json
{
  "name": "Triage Leads para inmobiliaria",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "08aa573a-83fc-49b8-bcf4-769cf6867a35",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "33b77215-c749-47fe-bcc2-2df4624d3e93",
      "name": "Trigger - Nuevo Lead (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2032,
        256
      ],
      "webhookId": "08aa573a-83fc-49b8-bcf4-769cf6867a35"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apptGJrcEfVRByubU",
          "mode": "list",
          "cachedResultName": "Proyecto Jole CRM",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU"
        },
        "table": {
          "__rl": true,
          "value": "tblkNkyDR4tyVqyQe",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU/tblkNkyDR4tyVqyQe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.body.nombre }}",
            "Telefono": "={{ $json.body.telefono }}",
            "Mensaje": "={{ $json.body.mensaje }}",
            "Estado": "Pendiente",
            "Mail": "={{ $json.body.mail }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fuente de la consulta",
              "displayName": "Fuente de la consulta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Enviado",
                  "value": "Enviado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendedor",
              "displayName": "Vendedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Propiedad",
              "displayName": "Propiedad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Prioridad (AI)",
              "displayName": "Lead Prioridad (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferencia de contacto (AI)",
              "displayName": "Preferencia de contacto (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visitas",
              "displayName": "Visitas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ofertas",
              "displayName": "Ofertas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad IA",
              "displayName": "Prioridad IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "224b0752-68bf-4a56-a48f-5ddc52a74b01",
      "name": "Airtable - Crear Lead (Pendiente)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1792,
        256
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cxLdFl3ukAE8fwiJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptGJrcEfVRByubU",
          "mode": "list",
          "cachedResultName": "Proyecto Jole CRM",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU"
        },
        "table": {
          "__rl": true,
          "value": "tblkNkyDR4tyVqyQe",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU/tblkNkyDR4tyVqyQe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead (Pendiente)').item.json.id }}",
            "Estado": "Procesado por IA",
            "Mensaje": "={{ $json.respuesta }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fuente de la consulta",
              "displayName": "Fuente de la consulta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Enviado",
                  "value": "Enviado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendedor",
              "displayName": "Vendedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Propiedad",
              "displayName": "Propiedad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Prioridad (AI)",
              "displayName": "Lead Prioridad (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Preferencia de contacto (AI)",
              "displayName": "Preferencia de contacto (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visitas",
              "displayName": "Visitas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ofertas",
              "displayName": "Ofertas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad IA",
              "displayName": "Prioridad IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "551666fe-dc27-4024-a30e-6ea24dbba0f9",
      "name": "Airtable - Actualizar Lead (Procesado IA)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -832,
        144
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cxLdFl3ukAE8fwiJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "proyectojole@gmail.com",
        "subject": "=Aprobación requerida - Lead }{{ $('Airtable - Crear Lead (Pendiente)').item.json.fields.Nombre }}",
        "message": "=Nuevo lead requiere aprobación.\n\n<br><br>\n\n<b>Nombre:</b> {{ $('Airtable - Crear Lead (Pendiente)').item.json.fields.Nombre }}\n\n<br><br>\n\n<b>Categoría:</b> {{ $('Parsear Respuesta IA').item.json.categoria }}\n\n<br><br>\n\n<b>Prioridad:</b> {{ $('Parsear Respuesta IA').item.json.prioridad }}\n\n<br><br>\n\n<b>Respuesta sugerida:</b>\n\n<br>\n\n{{ $('Parsear Respuesta IA').item.json.respuesta }}\n\n<br><br>\n\n¿Desea enviar esta respuesta al cliente?\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Aprobar",
            "disapproveLabel": "Rechazar"
          }
        },
        "options": {}
      },
      "id": "6e6e6851-064b-4b50-9d7d-4573cb86a2a6",
      "name": "Aprobación Humana - Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -592,
        144
      ],
      "webhookId": "22725a27-6e3e-489c-84ee-7d88ca8732e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "PMYNfIXoaxLQPMcB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "bbe32821-d7f6-4fbc-9ca5-fb75b2351f60"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "240c8509-e65f-47dd-b64d-621a3c16a628",
      "name": "IF - ¿Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        144
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable - Crear Lead (Pendiente)').item.json.fields.Mail }}",
        "subject": "=Respuesta a tu consulta - Inmobiliaria",
        "message": "={{ $('Parsear Respuesta IA').item.json.respuesta }}",
        "options": {}
      },
      "id": "c8047465-70d7-400b-990a-c784a5b1b5ee",
      "name": "Gmail - Enviar al Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -112,
        16
      ],
      "webhookId": "52603747-ed2d-402e-b0ea-d0f53008ab81",
      "credentials": {
        "gmailOAuth2": {
          "id": "PMYNfIXoaxLQPMcB",
          "name": "Gmail OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptGJrcEfVRByubU",
          "mode": "list",
          "cachedResultName": "Proyecto Jole CRM",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU"
        },
        "table": {
          "__rl": true,
          "value": "tblkNkyDR4tyVqyQe",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU/tblkNkyDR4tyVqyQe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead (Pendiente)').item.json.id }}",
            "Estado": "Enviado"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fuente de la consulta",
              "displayName": "Fuente de la consulta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Enviado",
                  "value": "Enviado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendedor",
              "displayName": "Vendedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Propiedad",
              "displayName": "Propiedad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Prioridad (AI)",
              "displayName": "Lead Prioridad (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferencia de contacto (AI)",
              "displayName": "Preferencia de contacto (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visitas",
              "displayName": "Visitas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ofertas",
              "displayName": "Ofertas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad IA",
              "displayName": "Prioridad IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0ab6eebf-d8f5-4741-862f-074e394935ec",
      "name": "Airtable - Actualizar Lead (Enviado)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        128,
        16
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cxLdFl3ukAE8fwiJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptGJrcEfVRByubU",
          "mode": "list",
          "cachedResultName": "Proyecto Jole CRM",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU"
        },
        "table": {
          "__rl": true,
          "value": "tblkNkyDR4tyVqyQe",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU/tblkNkyDR4tyVqyQe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Actualizar Lead (Procesado IA)').item.json.id }}",
            "Estado": "Rechazado"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fuente de la consulta",
              "displayName": "Fuente de la consulta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Enviado",
                  "value": "Enviado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendedor",
              "displayName": "Vendedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Propiedad",
              "displayName": "Propiedad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Prioridad (AI)",
              "displayName": "Lead Prioridad (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferencia de contacto (AI)",
              "displayName": "Preferencia de contacto (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visitas",
              "displayName": "Visitas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ofertas",
              "displayName": "Ofertas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad IA",
              "displayName": "Prioridad IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1187e177-7ea9-4ca3-ad59-266bcacc64d1",
      "name": "Airtable - Actualizar Lead (Rechazado)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -112,
        288
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cxLdFl3ukAE8fwiJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apptGJrcEfVRByubU",
          "mode": "list",
          "cachedResultName": "Proyecto Jole CRM",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU"
        },
        "table": {
          "__rl": true,
          "value": "tblkNkyDR4tyVqyQe",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU/tblkNkyDR4tyVqyQe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Error"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail",
              "displayName": "Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fuente de la consulta",
              "displayName": "Fuente de la consulta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Enviado",
                  "value": "Enviado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendedor",
              "displayName": "Vendedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Propiedad",
              "displayName": "Propiedad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creado",
              "displayName": "Creado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead Prioridad (AI)",
              "displayName": "Lead Prioridad (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferencia de contacto (AI)",
              "displayName": "Preferencia de contacto (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visitas",
              "displayName": "Visitas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ofertas",
              "displayName": "Ofertas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad IA",
              "displayName": "Prioridad IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6a59d9b3-a7a2-49e5-b514-ff284c4a1f7d",
      "name": "Airtable - Registrar Error",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1072,
        496
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cxLdFl3ukAE8fwiJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "proyectojole@gmail.com",
        "subject": "=⚠️ Error procesando lead {{ $('Airtable - Crear Lead (Pendiente)').item.json.id }}",
        "message": "=Se registró un error en el flujo de triage de leads.<br><br>Revisar el detalle en la tabla Errores_Log de Airtable, vinculado al Lead ID {{ $('Airtable - Crear Lead (Pendiente)').item.json.id }}.",
        "options": {}
      },
      "id": "689c4e9c-1a79-46d3-829c-183b56026a88",
      "name": "Gmail - Notificar Error",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -848,
        496
      ],
      "webhookId": "1f524250-8938-48ee-9cab-1ecafe3e615d",
      "credentials": {
        "gmailOAuth2": {
          "id": "PMYNfIXoaxLQPMcB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Sos un asistente para una inmobiliaria.\n\nTu tarea es analizar el mensaje de un cliente y clasificarlo.\n\nCategorías posibles:\n- visita\n- consulta\n- tasacion\n- otro\n\nPrioridad:\n- alta\n- media\n- baja\n\nSi el cliente pregunta por una propiedad específica (zona, precio, tipo, \nambientes o disponibilidad), usá la herramienta de búsqueda en Airtable \npara consultar el catálogo de Propiedades antes de responder. Basá tu \nrespuesta en los datos reales que te devuelva la herramienta, no inventes \npropiedades ni precios.\n\nSi el mensaje no requiere consultar el catálogo (ej: consulta general, \ntasación, contacto), respondé sin usar la herramienta.\n\nIMPORTANTE: Tu respuesta final debe ser ÚNICAMENTE el JSON, sin texto \nantes ni después, sin explicaciones, sin markdown. Ejemplo exacto de \nformato esperado:\n{\"categoria\": \"consulta\", \"prioridad\": \"alta\", \"respuesta\": \"texto acá\"}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -1600,
        256
      ],
      "id": "9193e7db-36db-4a05-91bd-0180e5e50922",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "L0WgWJZtbbSCGAc2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7664dd76-4361-42d8-8d53-5f7b0bbcd560",
              "leftValue": "={{ $json.categoria }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1040,
        256
      ],
      "id": "751a10c2-4f22-46cb-bd4e-7750cbef5f12",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"recibido\" }",
        "options": {}
      },
      "id": "078d23a0-52b2-489e-9fad-22ce3c8b719d",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1792,
        496
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "RAG",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptGJrcEfVRByubU",
          "mode": "list",
          "cachedResultName": "Proyecto Jole CRM",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU"
        },
        "table": {
          "__rl": true,
          "value": "tbln5noLLYgML2xXE",
          "mode": "list",
          "cachedResultName": "Propiedades",
          "cachedResultUrl": "https://airtable.com/apptGJrcEfVRByubU/tbln5noLLYgML2xXE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        -1520,
        464
      ],
      "id": "247d0811-8bc6-4201-9f58-7b253fcc588a",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "cxLdFl3ukAE8fwiJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.content?.parts?.[0]?.text || '';\n\nif (!raw) {\n  throw new Error('No se encontró texto en la respuesta del modelo');\n}\n\nlet data;\ntry {\n  // Intento 1: JSON directo (o envuelto en ```json)\n  const limpio = raw.replace(/```json|```/g, '').trim();\n  data = JSON.parse(limpio);\n} catch (e) {\n  // Intento 2: el modelo respondió en texto libre, extraigo con regex\n  const categoria = (raw.match(/categor[ií]a:\\s*(\\w+)/i) || [])[1]?.toLowerCase() || 'otro';\n  const prioridad = (raw.match(/prioridad:\\s*(\\w+)/i) || [])[1]?.toLowerCase() || 'media';\n  const respuesta = raw.split(/\\n\\n+/).filter(p => !/^(clasificaci[oó]n|categor[ií]a|prioridad)/i.test(p)).join('\\n\\n').trim() || raw;\n  data = { categoria, prioridad, respuesta };\n}\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        256
      ],
      "id": "5541677c-cf8a-4e26-b504-48ad4ed16c80",
      "name": "Parsear Respuesta IA"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger - Nuevo Lead (Webhook)": {
      "main": [
        [
          {
            "node": "Airtable - Crear Lead (Pendiente)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Crear Lead (Pendiente)": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Registrar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Actualizar Lead (Procesado IA)": {
      "main": [
        [
          {
            "node": "Aprobación Humana - Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobación Humana - Gmail": {
      "main": [
        [
          {
            "node": "IF - ¿Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - ¿Aprobado?": {
      "main": [
        [
          {
            "node": "Gmail - Enviar al Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Actualizar Lead (Rechazado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Enviar al Lead": {
      "main": [
        [
          {
            "node": "Airtable - Actualizar Lead (Enviado)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Registrar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Registrar Error": {
      "main": [
        [
          {
            "node": "Gmail - Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parsear Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable - Actualizar Lead (Procesado IA)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Registrar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records in Airtable": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta IA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5316afb-07e0-4e53-a42e-ff8c126d7dcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562b8a67c8fb1718828c8704a59bba9d8dcc225f1954b8779deac761c0dfbdbd"
  },
  "nodeGroups": [],
  "id": "EUWe3deUZs5VRWCv",
  "tags": []
}